.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2d9cd8;
    background-color: rgba(255, 255, 255, .1 );
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-right: 2em;
    padding-left: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2d9cd8;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.btn-primary {
    color: white;
    background-color: #56ccfa;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #209cdb;
}

.btn-danger {
    color: white;
    background-color: #eb5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #cc4c4c;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.tour-btn {
    max-width: 19%;
}
