@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Metal+Mania');
@import './nav.css';
@import './header-section-container.css';
@import './button.css';
@import './tour.css';
@import './shop-items.css';
@import './cart.css';
@import './footer.css';
@import './band.css'

@font-face {
    font-family: "booter - Zero Zero";
    src: url('./fonts/Booter\ -\ Zero\ Zero.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: "Raleway";
    color:#777;
}

html, body {
    margin: 0;
    padding: 0;
}