
.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: 1.5em;

}

.tour-date {
    color:#555;
    font-weight: bold;
    width:11%;
}

.tour-city {
    width:24%;
}

.tour-arena {
    width: 42%;

}
